<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin:0px;
        padding:0px;
        box-sizing: border-box;
    }
    section{
        height: 100vh;
        width: 100vh;
        position: relative;
    

    }
    .hero{
        height:100%;
        width:100%;
        position: absolute;
        left:50%;

       
    }

</style>
<body>
    
    <section>
      

        <div class="hero">
            <img src="<%-data.image %>">
            <h4><%- data.title %></h4>
            <p> <%- data.subtitle %></p>
            <p> <%- data.description %></p>
            <p> <%- data.register.username %></p>
           <% if(currentuser){ %>
                <button><a href="/delete/<%- data.id %>">Delete</a></button>
                <button><a href="/update/<%- data.id %>">Update</a></button>
           <% } %>

          

        </div>
  
    </section>
</body>
</html>